<!-- charts_partial.html -->
<div id="charts-container">
    <!-- Existing Chart Containers -->
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <div id="temperature-chart"></div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <div id="humidity-chart"></div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <div id="precipitation-chart"></div>
            </div>
        </div>
    </div>
    <!-- Chart Rendering Script -->
    <script>
        (function() {
            // Render the temperature chart
            const temperatureChart = JSON.parse('{{ temperature_chart|escapejs }}');
            Plotly.newPlot('temperature-chart', temperatureChart.data, temperatureChart.layout);

            // Render the humidity chart
            const humidityChart = JSON.parse('{{ humidity_chart|escapejs }}');
            Plotly.newPlot('humidity-chart', humidityChart.data, humidityChart.layout);

            // Render the precipitation chart
            const precipitationChart = JSON.parse('{{ precipitation_chart|escapejs }}');
            Plotly.newPlot('precipitation-chart', precipitationChart.data, precipitationChart.layout);
        })();
    </script>
</div>
