{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
<!-- 400 Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="fa fa-question-circle display-1 text-info"></i>
            <h1 class="display-1 fw-bold">400</h1>
            <h1 class="mb-4">Bad Request</h1>
            <p class="mb-4">The request could not be understood by the server. 
                Please check the URL and try again.</p>
            <a class="btn btn-info rounded-pill py-3 px-5" href="{% url 'home:index' %}">Go Back To Home</a>
        </div>
    </div>
</div>
<!-- 400 End -->
{% endblock %}